.container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  border: 1px solid white;
}

.header > img {
  width: 100px;
}

.header > p {
  margin-left: 10px;
  font-size: x-large;
}

.body {
  display: flex;
}

.footer {
  display: flex;
  color: green;

  > p {
    margin-left: auto;
    margin-right: 20px;
  }
}
