.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid white;
}

.header > img {
  width: 100px;
}

.header > p {
  margin-left: 10px;
  font-size: x-large;
}

.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: green;
}

.footer > p {
  margin-left: auto;
  margin-right: 20px;
}
/*# sourceMappingURL=AppDisplay.module.css.map */