.buttonSubmit {
  -webkit-box-shadow: inset 0px 10px 14px -7px #3dc21b;
  box-shadow: inset 0px 10px 14px -7px #3dc21b;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(5%, #44c767),
    to(#5cbf2a)
  );
  background: linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#44c767', endColorstr='#5cbf2a',GradientType=0);
  background-color: #44c767;
  border-radius: 4px;
  border: 1px solid #ffffff;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 15px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}

.buttonSubmit:hover {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(5%, #5cbf2a),
    to(#44c767)
  );
  background: linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cbf2a', endColorstr='#44c767',GradientType=0);
  background-color: #5cbf2a;
}

.buttonSubmit:active {
  position: relative;
  top: 1px;
}

.buttonCancel {
  -webkit-box-shadow: inset 0px 10px 14px -7px #e67a73;
  box-shadow: inset 0px 10px 14px -7px #e67a73;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(5%, #e4685d),
    to(#eb675e)
  );
  background: linear-gradient(to bottom, #e4685d 5%, #eb675e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4685d', endColorstr='#eb675e',GradientType=0);
  background-color: #e4685d;
  border-radius: 4px;
  border: 1px solid #ffffff;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 15px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #b23e35;
}

.buttonCancel:hover {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(5%, #eb675e),
    to(#e4685d)
  );
  background: linear-gradient(to bottom, #eb675e 5%, #e4685d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eb675e', endColorstr='#e4685d',GradientType=0);
  background-color: #eb675e;
}

.buttonCancel:active {
  position: relative;
  top: 1px;
}
/*# sourceMappingURL=Button.module.css.map */
