// TODO use proper SCSS here
.buttonSubmit {
  -moz-box-shadow: inset 0px 10px 14px -7px #3dc21b;
  -webkit-box-shadow: inset 0px 10px 14px -7px #3dc21b;
  box-shadow: inset 0px 10px 14px -7px #3dc21b;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #44c767),
    color-stop(1, #5cbf2a)
  );
  background: -moz-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
  background: -webkit-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
  background: -o-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
  background: -ms-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
  background: linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#44c767', endColorstr='#5cbf2a',GradientType=0);
  background-color: #44c767;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #ffffff;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 15px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
  &:hover {
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0.05, #5cbf2a),
      color-stop(1, #44c767)
    );
    background: -moz-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
    background: -webkit-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
    background: -o-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
    background: -ms-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
    background: linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cbf2a', endColorstr='#44c767',GradientType=0);
    background-color: #5cbf2a;
  }
  &:active {
    position: relative;
    top: 1px;
  }
}

.buttonCancel {
  -moz-box-shadow: inset 0px 10px 14px -7px #e67a73;
  -webkit-box-shadow: inset 0px 10px 14px -7px #e67a73;
  box-shadow: inset 0px 10px 14px -7px #e67a73;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #e4685d),
    color-stop(1, #eb675e)
  );
  background: -moz-linear-gradient(top, #e4685d 5%, #eb675e 100%);
  background: -webkit-linear-gradient(top, #e4685d 5%, #eb675e 100%);
  background: -o-linear-gradient(top, #e4685d 5%, #eb675e 100%);
  background: -ms-linear-gradient(top, #e4685d 5%, #eb675e 100%);
  background: linear-gradient(to bottom, #e4685d 5%, #eb675e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4685d', endColorstr='#eb675e',GradientType=0);
  background-color: #e4685d;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #ffffff;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 15px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #b23e35;
  &:hover {
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0.05, #eb675e),
      color-stop(1, #e4685d)
    );
    background: -moz-linear-gradient(top, #eb675e 5%, #e4685d 100%);
    background: -webkit-linear-gradient(top, #eb675e 5%, #e4685d 100%);
    background: -o-linear-gradient(top, #eb675e 5%, #e4685d 100%);
    background: -ms-linear-gradient(top, #eb675e 5%, #e4685d 100%);
    background: linear-gradient(to bottom, #eb675e 5%, #e4685d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eb675e', endColorstr='#e4685d',GradientType=0);
    background-color: #eb675e;
  }
  &:active {
    position: relative;
    top: 1px;
  }
}
