.container {
  display: flex;
  padding-right: 30px;
}

.leftPanel {
  display: flex;
}

.rightPanel {
  display: flex;
  flex-direction: column;
}

.name {
  padding-bottom: 10px;
}

.price {
  font-size: 22px;
  padding-bottom: 10px;
  font-weight: bold;
}

.units {
  padding-bottom: 10px;

  select {
    width: 70px;
  }
}

.itemImage {
  margin: 0 20px;
  width: 100px;
}

@media only screen and (max-width: 760px) {
  .leftPanel > img {
    display: none;
  }
}
