.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.form {
  position: fixed;
  height: auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: var(--gray-700);
  padding: 20px 0 20px 40px;
  border: 1px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 28px;
}

.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 30px;
}

.header {
  font-size: 17px;
  border: 1px solid white;
  padding: 10px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border: 1px solid var(--gray-400);
}

.footer {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footerButtonsContainer {
  margin-left: auto;
}

.footerButtonsContainer > button {
  margin-left: 10px;
  font-size: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input[type='email'],
input[type='text'],
input[type='number'] {
  background-color: #2d3748;
  border-bottom-color: #4a5568;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: #4a5568;
  border-left-style: solid;
  border-left-width: 2px;
  border-right-color: #4a5568;
  border-right-style: solid;
  border-right-width: 2px;
  border-top-color: #4a5568;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top-style: solid;
  border-top-width: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 20px;
  line-height: 30px;
  color: white;
  padding: 6px;
}

select {
  width: 50px;
  font-size: larger;
}

@media only screen and (max-width: 768px) {
  .form {
    top: 40%;
    padding: 10px;
    font-size: 12px;
  }
  .body {
    margin-top: 8px;
  }
  input[type='email'],
  input[type='text'],
  input[type='number'] {
    line-height: initial;
    font-size: 16px;
    padding: 4px;
  }
  .footerButtonsContainer > button {
    font-size: 12px;
  }
  .header {
    font-size: 13px;
    padding: 3px 4px;
  }
}

.error {
  color: var(--red);
}
/*# sourceMappingURL=CheckoutForm.module.css.map */