.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}

.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.checkoutButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.checkoutButton > button {
  margin-left: auto;
  width: 180px;
  height: 60px;
  font-size: 25px;
}

.premiumCheckbox {
  cursor: pointer;
}

.premiumCheckbox :hover {
  color: var(--green);
}

@media only screen and (max-width: 1200px) {
  .body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .checkoutButton > button {
    width: 120px;
    height: 30px;
    font-size: 18px;
  }
}
/*# sourceMappingURL=CheckoutDisplay.module.css.map */
