.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 30px;
}

.leftPanel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rightPanel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.name {
  padding-bottom: 10px;
}

.price {
  font-size: 22px;
  padding-bottom: 10px;
  font-weight: bold;
}

.units {
  padding-bottom: 10px;
}

.units select {
  width: 70px;
}

.itemImage {
  margin: 0 20px;
  width: 100px;
}

@media only screen and (max-width: 760px) {
  .leftPanel > img {
    display: none;
  }
}
/*# sourceMappingURL=CheckoutItemDisplay.module.css.map */