.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.body {
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  flex-direction: column;
}

.checkoutButton {
  display: flex;

  > button {
    margin-left: auto;
    width: 180px;
    height: 60px;
    font-size: 25px;
  }
}

.premiumCheckbox {
  cursor: pointer;
}

.premiumCheckbox :hover {
  color: var(--green);
}

@media only screen and (max-width: 768px) {
  .body {
    flex-direction: column;
  }

  .checkoutButton > button {
    width: 120px;
    height: 30px;
    font-size: 18px;
  }
}
