.container {
  width: 100%;
  margin-top: 20px;
  overflow-x: scroll;
}

.myTable {
  width: 100%;
  border-collapse: collapse;
}

.myTable td,
.myTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

.myTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--green);
  color: white;
}

.myTable tr:nth-child(even) {
  background-color: var(--gray-700);
}

.myTable tr:hover {
  background-color: var(--gray-600);
}
/*# sourceMappingURL=MyTable.module.css.map */
